{{#> layout title="blog"}}

<section class="blog-container">
  <h1 class="section-title">My Blogs</h1>
  <a class="btn btn-orange" href="/blog-add">New Blog</a>
  <div id="blogList" class="blog-list">

    {{#each blogs}}
    <div id="${i}" class="blog-list-item">
      <div class="blog-image">
        <img src="{{this.image}}" style="height: 300px;" alt="blog-image" />
      </div>
      <div class="blog-content">
        <div class="btn-group-blog">

          <a href="/blog-edit/{{this.id}}" class="btn btn-edit">Edit</a>

          <form action="/blog-delete/{{this.id}}?_method=DELETE" method="post" style="display: inline;">
            <button onclick="return confirm('Are you sure you want to delete')" type="submit"
              class="btn-edit">Delete</button>
          </form>
        </div>
        <h1>
          <a href="/blog-detail/{{this.id}}" class="blog-item-title">
            {{this.title}}
          </a>
        </h1>
        <div class="detail-blog-content">
          {{formatDateToWIB this.createdAt}}
          |
          Yaumil Aksah | last update {{formatDateToWIB this.updatedAt}}

        </div>
        <p class="blog-text">
          {{truncateText this.content}}
        </p>
        <p class="relative-time">{{getRelativeTime this.createdAt}}</p>
      </div>
    </div>
    {{else}}
    <p style="text-align: center">Belum ada blog yang di post</p>
    {{/each}}

  </div>
</section>
{{/layout}}